services:
  back:
    image: ghcr.io/calaxo/opencv:latest
    container_name: opencv
    expose:
      - "5500"
    restart: unless-stopped
    environment:
      DB_PATH: /app/data/database.sqlite
      NODE_ENV: production
      PORT: 5500
    volumes:
      - sqlite_data:/app/data
    networks:
      - web

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web
    depends_on:
      - back

networks:
  web:
    driver: bridge

volumes:
  sqlite_data:
  caddy_data:
  caddy_config:
